.brand{
    color:black;
    font-family: 'Courgette', cursive;
    font-size: 25px;
    border-radius: 15px;
    background-position: 8%;

}
.brand a{
    text-decoration: none;
    color:darkgreen;
}
.faq-bg{
    background: url('images/landscape image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}
.text{
    width: 50%;
}
.bg-text{
    background:rgba(255,255,255,.6);
    position: relative;
    top: 100px;
    left: 90%;
}
details[open].FAQs{
    background: rgba(0, 255, 0, .2);
    transition: all 0.4s ease-in-out;
    
}
@media(max-width:570px){
    .text{
        width: 100%;
    }
    .bg-text{
        position:relative;
        top: 200px;
        left: 0;
    }
    .hero{
        margin:20px;
        padding-top: 10px;
    }
    .btn.mx-3{
        display: none;
    }
}